main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    overflow: hidden;
}

#milkyway {
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transform: translateX(calc((10dvh * 10)/-1.75));
}

.planet-image {
    width: fit-content;
    animation: planet-hover 3s infinite ease-in-out;
    animation-delay: -1s;
    margin: 0.5%;
}

#sun {
    margin-left: 0;
    animation-delay: -0s;
    height: calc(10dvh * 10);
    animation: pulse 4s alternate infinite cubic-bezier(.5,.1,.5,.9);
}

#mercury {
    animation-delay: -2s;
    height: calc(10dvh * 0.55);
    cursor: pointer;
}

#venus {
    animation-delay: -0.5s;
    height: calc(10dvh * 0.9);
    cursor: pointer;
}   

#earth {
    animation-delay: -1.5s;
    height: 10dvh;
    cursor: pointer;
}

#mars {
    animation-delay: -0.75s;
    height: calc(10dvh * 0.85);
    cursor: pointer;
}   

#jupiter {
    animation-delay: -3s;
    height: calc(10dvh * 3.5);
    cursor: pointer;
}

#saturn {
    animation-delay: -5s;
    height: calc(10dvh * 3);
    cursor: pointer;
}

#uranus {
    animation-delay: -0.16s;
    height: calc(10dvh * 1.5);
    cursor: pointer;
}   

#neptune {
    animation-delay: -1s;
    height: calc(10dvh * 1.5);
    cursor: pointer;
}

@keyframes planet-hover {
    0%, 100% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(-15px);
    }
}

@keyframes pulse {
    100% {
        transform: scale(1.065);
    }
}