/* Karussel af planeter */
.carousel {
    position: relative;
    width: 100%;
    height: 500px;
    perspective: 250px;
}

.planet-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.planet {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s, opacity 0.5s;
}



/* Snurrende planeter */
.earth {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000;
}

.earth:after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: -20px -20px 50px 2px #000 inset;
    border-radius: 50%;
}

.planet-image {
    width: 200%;
    height: 100%;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    animation: spin 30s linear alternate infinite;
}

/* .earth>div {
    width: 200%;
    height: 100%;
} */

#mercury {
    background: url(https://www.solarsystemscope.com/textures/download/2k_mercury.jpg);
    background-size: cover;
}
#venus {
    background: url(https://www.solarsystemscope.com/textures/download/2k_venus_surface.jpg);
    background-size: cover;
}
#earth {
    /* background: url(https://www.solarsystemscope.com/textures/download/2k_earth_daymap.jpg); */
    background: url(/img/earth_map.png);
    background-size: cover;
    position: absolute;
}
#clouds {
    /* background: url(https://www.solarsystemscope.com/textures/download/2k_earth_daymap.jpg); */
    background: url(/img/earth_clouds.png);
    background-size: cover;
    position: absolute;
    animation: spin 60s linear alternate-reverse infinite;
}
#mars {
    background: url(https://www.solarsystemscope.com/textures/download/2k_mars.jpg);
    background-size: cover;
}
#jupiter {
    background: url(https://www.solarsystemscope.com/textures/download/2k_jupiter.jpg);
    background-size: cover;
}
#saturn {
    background: url(https://www.solarsystemscope.com/textures/download/2k_saturn.jpg);
    background-size: cover;
}
#uranus {
    background: url(https://www.solarsystemscope.com/textures/download/2k_uranus.jpg);
    background-size: cover;
}
#neptune {
    background: url(https://www.solarsystemscope.com/textures/download/2k_neptune.jpg);
    background-size: cover;
}

/* https://www.solarsystemscope.com/textures/ */


/* knapperne */
.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.control-btn {
    background: #444;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 1.5em;
}

@keyframes spin {
    to {
        transform: translateX(-50%);
    }
}