* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.velkommen-vink {

  text-align: center;
  padding: 20px;
  width: 100%;
  height: 100%;

}
.velkommen-vink img{
  height: 100vh;
}
  .baggrund {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }


  #velkommen-tale .container {
    display: flex;
    height: 100vh;
  }
  
  #spaceship {
    height: 42vh;
    margin-left: 10vw;
    margin-top: 30vh;
  }
  
  #info-astra {
    height: 80vh;
    margin-top: 10vh;
    margin-left: 40%;
  }